<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'challenge_creator' %>
    <title>Loading...</title>
</head>
<body data-controller="challengecreator" data-redirect-path="<%= challenge_create_path(query: @query, difficulty: @difficulty) %>">
    <div class="loader"></div>
    <span class="loader-text">Preparing the kitchen...</span>
</body>
</html>