<footer>
    <p>CSS Kitchen uses AI for challenge generation and grading. Experience might be inaccurate and irregular. CSS Kitchen only aims to make CSS more fun!</p>
    <%= image_tag 'logo-white.svg' %>
</footer>