:root {
    --colorPrimary: #E6E9DF;
    --colorSecondary: #000;
    --accentPrimary: #F5BC63;
    --accentSecondary: #245F4C;
}

body {
    background-color: #E6E9DF;
}
main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.cook-section {
    margin: 0 max(1vw, 1rem);
    border-radius: 2rem;
    background: radial-gradient(50% 50% at 50% 50%, #333 0%, #222 100%);
    padding: 8rem 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}
.cook-section h1 {
    color: #F5BC63;
    font-family: 'Modak';
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    line-height: 80%;
}
.cook-ui {
    border-radius: 1000rem;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5vw;
}
.cook-icon {
    color: #222;
    font-size: 2.5rem;
    margin-left: 2.5rem;
}
.cook-search-input {
    padding: 1rem;
    border: none;
    background-color: transparent;
    color: #484848;
    font-size: 1.4rem;
    font-weight: 400;
    margin-right: 2rem;
}
.cook-search-input::placeholder {
    color: #8C8C8C;
}
.cook-input-divider {
    width: 1px;
    height: 4rem;
    background-color: #BFBFBF;
}
.cook-difficulty-select {
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;

    background: url('/assets/dashboard/arrow-dropdown.svg') no-repeat right center;
    background-size: 3rem;
    padding: 1rem calc(1vw + 1rem) 1rem calc(0.5vw + 1rem);
    border: none;
    border-radius: 1rem;
    font-size: 1.6rem;
    color: #484848;
    cursor: pointer;
}
.cook-difficulty-select:focus, .cook-search-input:focus {
    outline: none;
}
.cook-difficulty-select option {
    padding: 0.5rem 1rem;
    color: #484848;
    background-color: #fff;
    accent-color: #f0f0f0;
}
.cook-search-button {
    border: none;
    border-radius: 0 1000rem 1000rem 0;
    padding: 0 calc(1vw + 1rem);
    background-color: #245F4C;
    height: 6rem;
    color: #FFF;
    font-family: 'Modak';
    font-size: 2rem;
    font-weight: 400;
    transition: all 0.3s;
}
.cook-search-button:hover {
    cursor: pointer;
    opacity: 0.8;
}
.cook-random {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.cook-random h2 {
    color: #E6E9DF;
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 1.4rem;
    font-weight: 400;
}
.cook-random-button {
    border: none;
    border-radius: 1000rem;
    padding: 0.7rem 0.8rem;
    background-color: #F5BC63;
    transition: all 0.3s;
}
.cook-random-button:hover {
    cursor: pointer;
    opacity: 0.8;
}
.cook-random-button span {
    transform: rotate(45deg);
    color: #222;
    font-size: 2.6rem;
}
@media only screen and (max-width: 1000px) {
    .cook-section {
        padding: 8rem 10vw;
    }
}
@media only screen and (max-width: 750px) {
    .cook-section {
        padding: 8rem 5vw;
    }
}
@media only screen and (max-width: 650px) {
    .cook-section {
        padding: 8rem 2.5vw;
    }
}
@media only screen and (max-width: 520px) {
    .cook-icon {
        font-size: 2rem;
        margin-left: 1.5rem;
    }
    .cook-search-input {
        font-size: 1.2rem;
    }
    .cook-difficulty-select {
        font-size: 1.4rem;
    }
    .cook-search-button {
        font-size: 1.6rem;
    }
}
@media only screen and (max-width: 500px) {
    .cook-search-input {
        margin-right: 1rem;
        width: 15ch;
    }
}

.challenges-section {
    padding: 2rem 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
}
.challenges-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}
.challenges-header h2 {
    color: #000;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    line-height: 80%;
}
.challenge-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.challenge-categories .category {
    padding: 1.5rem 3rem;
    border-radius: 1000rem;
    background-color: #FFF;
    box-shadow: 0.2rem 0.2rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
    color: #222;
    font-size: 1.4rem;
    font-weight: 400;
    transition: all 0.3s;
}
.challenge-categories .category:not(.active):hover {
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0.4rem 0.4rem 0.8rem 0rem rgba(0, 0, 0, 0.25);
}
.challenge-categories .category.active {
    background-color: #245F4C;
    color: #FFF;
}

.challenges-container {
    padding: 1rem 5vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 3rem 3vw;
    justify-content: center;
    align-items: center;
}
.challenge-card {
    position: relative;
    border-radius: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
}
.challenge-card:hover {
    cursor: pointer;
    transform: scale(1.04);
}
.challenge-image {
    background-color: var(--dark-grey);
    border-radius: 3rem;
    aspect-ratio: 1/1;
    width: auto;
    position: relative;
}
.challenge-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 3rem;
}
.challenge-image span {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    border-radius: 1rem;
    background-color: #245F4C;color: #FFF;
    padding: 1rem 1.5rem;
    font-size: 1.8rem;
    font-weight: 700;
    transition: all 0.3s;
}

.challenge-content {
    padding: 3rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.challenge-content h4 {
    color: #245F4C;
    font-family: 'Modak';
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 80%;
}
.challenge-content p {
    color: #484848;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.challenge-tags {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}
.challenge-tags span {
    border-radius: 0.4rem;
    background-color: #245F4C;
    color: #FFF;
    font-family: 'Modak';
    font-size: 1.1rem;
    letter-spacing: 0.1ch;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding: 0.4rem 1.2rem;
}